# ====================================================================
# EDA Simulation Run & Waveform Artifacts
# ====================================================================
*.vvp
*.vcd
*.mem

# ====================================================================
# Isolated Component Source Files & Exclusions
# ====================================================================
ROM.v
#testbench.v